DATA_PROVIDER=hybrid
BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=
RAIDERIO_API_KEY=
TARGET_UNIQUE_CHARACTERS_PER_SPEC=150
MIN_UNIQUE_CHARACTERS_PER_SPEC=40
MAX_UNIQUE_CHARACTERS_PER_SPEC=300
MAX_CHARACTER_LEVEL=90
RAIDERIO_PAGES_PER_REGION=10
